/*  
  * Teal color (used for headings and backgrounds): `#4aaaa5`
  * Regular font color (used for paragraphs and all 
  	text besides the headings) = `#777777`
  * Main header background color: `#ffffff`
  * Main header border color: `#cccccc`
  * Footer background color: `#666666`
  * Main content background color: `#ffffff`
  * Main content border color: `#dddddd`

Fonts
  * Heading fonts use `font-family: 'Georgia', Times, 
  	Times New Roman, serif;`
  * All other fonts use `'Arial', 'Helvetica Neue', 
  	Helvetica, sans-serif;`
 */
* {
	box-sizing: border-box;
} 

#wrapper {
	background-image: url("light_grey.png")
}

.navBox {
	box-sizing: border-box;
	height: 90px;
	border-bottom: 1px solid #cccccc;
	border-top: 2px solid #cccccc;
	background-color: #ffffff;
	margin-bottom: 30px;
}

#headlineSection {
	float: left;
	padding-left: 50px;
	position: absolute;
}

 h1 {
 	color: #ffffff;
 	background-color: #4aaaa5;
 	padding: 28px;
 	/*padding-right: 30px;*/
 	font-family: 'Georgia', Times, 
  	Times New Roman, serif;
  	font-size: 24pt;
 }

 .aboutBox {
 	box-sizing: border-box;
 	height: 100px;
 	border-bottom: 3px solid #dddddd;
	padding-top: 40px;
	margin-left: 30px;
	margin-right: 15px;
	width: 600px;
 }

h2 {
	font-family: 'Georgia', Times, 
  	Times New Roman, serif;
	color: #4aaaa5;
	font-size: 22pt;
	font-weight: bold;
}

nav {
	width: 300px;
	float: right;
	padding-top: 20px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: right;
    display: inline;
    text-align: center;
    padding: 14px 16px;
    border-right: 1px solid #dddddd;
}

a {
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', 
  	Helvetica, sans-serif;
  	color: #777777;

}

li:first-child {
    border-right: none;
}

#bioSection1 {

}

#image {
	float: left;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 10px;
	padding-left: 30px;
}



.bioSection {
	clear: both;
	width: 650px;
	padding-left: 160px
	padding-top: 50px;
	padding-bottom: 30px;
	margin-left: 50px;
	margin-right: 20px;
	padding-right: 30px;
	float: left;
	border: 1px solid #dddddd;
	margin-top: 40px;
	background-color: #ffffff;
}

 p {
 	font-family: 'Arial', 'Helvetica Neue', 
  	Helvetica, sans-serif;
  	color: #777777;
  	padding-top: 30px;
  	padding-left: 30px;
  	line-height: 2;

 }

.connectBox {
/*	clear: both;*/
	width: 270px;
	float: left;
	padding-bottom: 40px;
	border: 1px solid #dddddd;
	margin-top: 40px;
	text-align: center;
	background-color: #ffffff;
}

h3 {
	font-family: 'Georgia', Times, 
  	Times New Roman, serif;
	color: #4aaaa5;
	font-size: 18pt;
	font-weight: bold;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}

.connectLinks {
	float: right;
    display: inline;
    text-align: center;
    padding: 5px 5px;
    border: none;
}

#socialIcons {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 30px;
    border-top: 1px solid #dddddd;
    float: left;
}

.thumbnails {
	width: 60px;
	height: 60px;
}

.footerBox {
	clear: both;
	box-sizing: border-box;
	height: 90px;
	border-top: 10px solid #4aaaa5;
	background-color: #57585b;
	position: relative;
	width: 100%;
	bottom: 0;
	right: 0;
	text-align: center;
	color: #b2b4b7;
	font-size: 12px;
	padding-top: 30px;
	font-family: 'Arial', 'Helvetica Neue', 
  	Helvetica, sans-serif;
}

#footerText {

}